<table class='table table-bordered table-condensed'>
<tr>
  <th>name</th>
  <th>length</th>
  <th>location</th>
  <th>model type</th>
</tr>
<tr>
  <td><%= om.name %> </td>
  <td><%= om.naseq.length %> bp (<%= om.aaseq.length %> aa)</td>
  <td><%= om.location %> [<%= link_to("jump to JBrowse", link_to_jbrowse_nibb(om)) %>]</td>
  <td>NA</td>
</tr>
</table>