<%- model_class = OrfModel -%>
<% om = @orf_model %>

<% content_for :nav_context_menu do %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Jump to ...
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><a href="#orf">ORF prediction</a></li>
      <li><a href="#blast_nr">BLAST nr</a></li>
      <li><a href="#pfam">Pfam</a></li>
   </ul>
  </li>
<% end %>

<div class="page-header">
  <h1><%=t '.title', :default => om.name %>  <small><%= om.definition %> [<i><%= Settings.species %></i>]</small></h1>
</div>

<div class="section">
<h4 id="orf">ORF Prediction</h4>
<%= render(:partial => "summary_orf_prediction", 
           :locals => {:om => om}) %>
<p><b>Sequence</b>: <%= link_to("CDS", :controller => "orf_models", :action => "fasta_cds") %> | <%= link_to("Protein", :controller => "orf_models", :action => "fasta_pep") %> (FASTA format)</p>
</div>



<div class="section">
<h4 id="blast_nr">BLAST NR</h4>
<% br = om.blast_nr_results %>
<%= render(:partial => "table_blast_result",
           :locals => {:ntop => 3, :blast_lines => br}) %>
<p>
<%= link_to("View BLASTP reults more ...", :controller => "orf_models", :action => "blast_nr") %>
</p>
</div>

<div class="section">
<h4 id="pfam">Pfam Motifs</h4>
<%= render(:partial => "pfam_report_table",
           :locals => {:om => om}) %>
</div>


<div class="section">
<h4>Ortholog group (OrthoDB)</h4>
<%= render(:partial => "table_orthodb7_hit",
           :locals => {:om => om}) %>
</div>

<div class="section">
<h4>BLAST2GO Annotation</h4>
<p><%= om.b2g_goterms.map{|g| g.goterm}.join(", ") %></p>
<p>annotation: <b><%= om.b2g_annotation ? om.b2g_annotation.annotation : "none" %></b></p>

</div>

<div class="section">
<h4>Ortholog group (MultiParanoid by TermiteG)</h4>
<h5>Set1: Cpun-Dmel-Hsjo-Mnat-Pame-Rspe-Tcas-Znev (Termites + Dmel,Tcas)</h5>

<% clusters = om.mpara_set1_entries %>
<% clusters.each do |cl| %>
<% members = MparaSet1Entry.where("cluster = '#{cl.cluster}'") %>
<%= render(:partial => "multiparanoid_report",
           :locals => {:c => cl, :members => members,
                       :sp_order => ["Pame", "Cpun", "Hsjo", "Znev", "Rspe", "Mnat", "Tcas", "Dmel"] }) %>
<% end %>


<h5>Set2: Cpun-Hsjo-Mnat-Pame-Rspe-Znev (Termites only) </h5>
<% clusters = om.mpara_set2_entries %>
<% clusters.each do |cl| %>
<% members = MparaSet2Entry.where("cluster = '#{cl.cluster}'") %>

<%= render(:partial => "multiparanoid_report",
           :locals => {:c => cl, :members => members,
                       :sp_order => ["Pame", "Cpun", "Hsjo", "Znev", "Rspe", "Mnat"] }) %>
<% end %>

</div>

<div class="section">
<h4>RNA-seq Expression Data</h4>
<% exp_title = "Hojo 2014Feb" %>
<h5><%= exp_title %></h5>
<%= render(:partial => "chart_expression_level",
           :locals => {:experiment => "rnaseq_set1_exp_level", :title => exp_title,
                       :samples => ["idx11R1", "idx20R1"],
                       :sample_label => {"idx11R1" => "Soldier", "idx20R1" => "Worker"}
                      })
 %>
<%= render(:partial => "table_expression_level",
           :locals => {:experiment => "rnaseq_set1_exp_level", :title => "Hojo",
                       :samples => ["idx11R1", "idx20R1"],
      	      	       :sample_label =>	{"idx11R1" => "Soldier", "idx20R1" => "Worker"}
       	       	      })
 %>
</div>

<div class="section">
<h4>RNA-seq Expression Data</h4>
<% exp_title = "Toyama 2015Feb" %>
<h5><%= exp_title %></h5>
<%= link_to(image_tag(url_rnaseq_chart(om), :size => "320x320"), url_rnaseq_chart(om))  =%>
<%= link_to(image_tag(url_rnaseq_chart_body(om), :size => "320x320"), url_rnaseq_chart_body(om))  =%>
<%= link_to(image_tag(url_rnaseq_chart_head(om), :size => "320x320"), url_rnaseq_chart_head(om))  =%>
<%= link_to(image_tag(url_rnaseq_rpkm_chart(om), :size => "320x320"), url_rnaseq_rpkm_chart(om))  =%>
<%= link_to(image_tag(url_rnaseq_rpkm_chart_body(om), :size => "320x320"), url_rnaseq_rpkm_chart(om))  =%>
<%= link_to(image_tag(url_rnaseq_rpkm_chart_head(om), :size => "320x320"), url_rnaseq_rpkm_chart(om))  =%>

<br />
WMH: worker; male; head<br />
WMB: worker; male; body<br /> 
WFH: worker; female; head<br />
WFB: worker; female; body<br />
SMH: soldier; male; head<br />
SMB: soldier; male; body<br />
SFH: soldier; female; head<br />
SFB: soldier; female; body<br />
AMH: alate;